<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>Malaria Detection App</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        </style>
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="{{url_for('static',filename='images/detect.png')}}" alt="" width="120" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{url_for('malariaapp')}}">Malaria Detection App</a>
                
              </div>
            </div>
          </nav>
    </div>
    {% block bodyblock %}
    
        
    {% endblock bodyblock %}
    <!--footer-->
    <footer class="footer">
        <div class="container">
            <div align='center' style="width: 50%; float: left;">
                <a href="https://www.linkedin.com/in/varunsahasrabudhe/" target="_blank">
                <img src="{{url_for('static',filename='/images/linked.png')}} " alt=""width='50'height='50'align ="center">

                </a>
            </div>
            <div align='center' style="width: 50%;float: right;">
                <a href="https://github.com/vsahasrabudhe96/" target="_blank">
                <img src="{{url_for('static',filename='/images/github.png')}}" alt=""width='50'height='50'align ="center">

                </a>
            </div>
            <p align ="center"><span style="color: black; font-size: large;"> 
                 Created by Varun Sahasrabudhe.
            </p></span>
        </div>

    </footer>
    <style>
        .footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:gray;
            padding-top: 40px;
            padding-bottom: 20px;
        };
        .content{
            color: #002f4d;
        }
        .boxes{
            width:50%;
            float:left;
            }
    </style>
</body>
</html>